* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;

}
html {
    font-size: 18px;
    
}
img {
  width: 100%;

}

h1 {
  font-weight: 500;
}

.content {
	margin: 0 auto;
	width: 30%;
}

.redes {
	display: flex;
	width: 100%;
	gap: 15px;

}

.redes a {
	padding: 10px 10px;
	border-radius: 10px;
	background: blue;
	text-decoration: none;
}

.redes a i {
	color: white;
	width: 10px;
	heigh: 10px;
	
}