* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;

}
html {
    font-size: 18px;
    
}
img {
  width: 100%;

}

h1 {
  font-weight: 500;
}

.content {
	margin: 0 auto;
	width: 30%;
}
