* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;

}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 18px;
    
}

body {
    background: var(--bg-color);
    display: grid;
    place-items: center;
    height: 100%;
    
}


img {
  width: 95%;
  margin: 0 auto;
  display: block;
  border-radius: 25px 25px 0 0;
  margin-top: 10px;
   -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
}

h1 {
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.content {
    margin-top: 10px;
	margin: 0 auto;
	width: 90%;
	background: var(--second-bg-color);
	border-radius: 30px;
	overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Sombra abajo */
    transition: transform 0.2s, box-shadow 0.2s; /* Efecto suave */
}

.redes {
    margin-top: -60px;
	display: flex;
	width: 100%;
	gap: 15px;
	justify-content: space-evenly;

}

.redes a {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido del enlace */
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
    width: 50px; /* Ajusta según el tamaño deseado */
    height: 50px;
}

.redes a i {
    color: white;
    font-size: 40px; /* Ajusta el tamaño del ícono */
}

.links {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 15px;
    margin-bottom: 20px;
    
}

.links a {
    padding: 15px;
    text-decoration: none;
    background: var(--main-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Sombra abajo */
    transition: transform 0.2s, box-shadow 0.2s; /* Efecto suave */
}

.links a:hover {
    transform: translateY(-2px); /* Eleva un poco el botón */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4); /* Sombra más intensa */
}

.links a h2 {
    text-align: center;
    color: white;
    font-size: 18px;
}