
.centrado{
    margin:10px auto;
    display:block;
    width: 400px;
}* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;

}


body {
    background-image: url(../Imagenes/old-1130743.jpg);
    background-size: cover;
    
}






main {
    width: 100%;
    max-width: 1100px;
    margin: auto;
} 

.nav-paginas {
    float: left;
    width: 30%;
    margin-top: 10px;
    text-decoration: none;
}

.nav-paginas a {
   background: black;
   color: white;
   text-decoration: none;
   display: block;
   padding: 30px;
   text-align: center;
   border: 1px solid white;

}
.nav-paginas a:hover {
    background: white;
    color: black;
    text-decoration: none;
}

.bartrans {
    width: 10%;
    background-color: rgba(0, 0, 0, 0);
}
    
.texto {
    float: right;
    width: 60%;
    position: relative;
    margin: auto;
    margin-top: 10px;
    display: block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    
}
#disable {
    background: none;
}
#blanco {
    background: white;
    color: black;
}
@media screen and (max-width:500px) {
    .nav-paginas {
        width: 80%;
        left: 36px;
        position: relative;
    }
}
@media screen and (max-width:500px) {
    .texto {
        width: 80%;
        right: 36px;
        position: relative;
    }
}
@media screen and (max-width:500px) {
    .bartrans {
        width: 0%;
    }
}